# Environments
.venv/
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
.next/
out/
build/
dist/

# Python cache / compile
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
